<section class="container">

  <div class="row">

    <div class="col-lg-6">
      <h2>Eduction</h2>
      <div class="col-lg-6">
        <div class="img-cut"> <%= image_tag "otago.png", :id => "otato" %> </div>
        <h6>2010 - 2012</h6>
        <p> Master of Information Science Otago Uni </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-6">
        <div class="img-cut"> <%= image_tag "scau.png", :id => "scau" %> </div>
        <h6>2004 - 2008</h6>
        <p> Bachelor Degree of Computer Science SCAU Uni </p>
      </div>
    </div>

    <div class="col-lg-6">
      <h2>Working Experiences</h2>
      <div class="col-lg-6">
        <div class="img-cut"> <%= image_tag "hsbc.png", :id => "hsbc" %> </div>
        <h6>2009 - 2010</h6>
        <p> HSBC software, Java developer </p>
      </div>

      <div class="col-lg-6">
        <div class="img-cut"> <%= image_tag "nzx.png", :id => "nzx" %> </div>
        <h6>2013 - 2014</h6>
        <p> Ruby on Rails analyist </p>
      </div>
    </div>

  </div><!-- /.row -->

</section><!-- /.container -->
