<!-- START THE FEATURETTES -->
<section class="container-wrapper features">
  <div class="container ruby-icon">

    <div class="row featurette">
      <h2> Ruby on Rails<span class="text-muted"> Full stack development </span></h2>

      <div class="col-md-6">
        <h5>Front-end Development</h5>
        <ul class="skills">
          <li>Experienced in CSS, SCSS. </li>
          <li>Experienced in pure JavaScript, jQuery and most importantly Front-end MVC frameworks like AngularJS. </li>
          <li>Able to implement <strong> Real Responsive Design </strong>. </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h5>Back-end Development</h5>
        <ul class="skills">
          <li>Experienced in tweaking Database Query, Database Index (<strong>PostgreSQL</strong>, Oracle). </li>
          <li>Experienced in optimizing caching efficiency. </li>
          <li>Experienced in implementing highly costomized Capistrano 2 or 3 deploy scripts. </li>
          <li>Experienced in event-driven Rake application. </li>
          <li>Depth knowledge of Networking security And Application security. </li>
          <li>Depth knowledge of Software Engineering, Agile methods, MVC, OOA, TDD. </li>
        </ul>
      </div>

    </div>

    <div class="row featurette">
      <div class="col-md-6">
        <h5>Upgrading RoR</h5>
        <ul class="skills">
          <li>One of the few professionals know how to <strong>Upgrade complex RoR system.</strong> </li>
          <li>Managed to upgrade couple enterprise applications from Ruby 1.8 to Ruby 1.9, from Rails 3.0 to Rails 3.2. </li>
          <li>Have so many experiences with <strong>RSpec and Cucumber</strong>. </li>
          <li>Able to create sophisticated specs to target the most complex scenarios. </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h5>Warden Warrior</h5>
        <ul class="skills">
          <li>Been designing and implementing enterprise-level authentication & authentication system. </li>
          <li>Know everything about Warden Gem and moreover customized authentication strategies. </li>
        </ul>
      </div>
    </div>

  </div>
</section>

<hr class="featurette-divider">

<section class="container-wrapper bg-darker">
  <div class="container coffee-icon">
    <div class="row featurette">

      <div class="col-md-8">
        <h2 class="featurette-heading"> Android Development <span class="text-muted"> Real word application </span></h2>
        <ul class="skills">
          <li> Experience in Java, from Jave Core, Java EE to Android </li>
          <li> Able to implement complex algorithms from scratch eg: <strong>DB4, Haar Wavelet Transform</strong>, FFT Transform, SVM Classifier and KNN Classifier </li>
        </ul>
      </div>

      <div class="col-md-4">  <%= image_tag "java.png", id: "java" %> </div>

    </div>
  </div>
</section>


<hr class="featurette-divider">

<section class="container-wrapper">
  <div class="container coffee-icon">
    <div class="row featurette">

      <div class="col-md-4"> <%= image_tag "cl.png", id: "cl" %> </div>

      <div class="col-md-8">
        <h2 class="featurette-heading"> OpenCl & Research <span class="text-muted"> Advanced understanding of Computer Science </span></h2>
        <ul class="skills">
          <li> Experience in C, OpenCL </li>
          <li> Depth knowledge of Parallel Computing, Concurrent Programming and <strong>GPUGPU Programming</strong> </li>
          <li> Depth knowledge of Exact String Matching </li>
          <li> Experience in <strong>Shell scripting</strong>. </li>
        </ul>
      </div>

    </div>
  </div>
</section>

<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

