<!-- START THE FEATURETTES -->
<div class="container-wrapper">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-8">
        <h2 class="featurette-heading"> Ruby on Rails <span class="text-muted"> Well thought-out web development </span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "ror.png", id: "ror" %> 
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container-wrapper bg-darker">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-4">
         <%= image_tag "java.png", id: "java" %> 
      </div>
      <div class="col-md-8">
        <h2 class="featurette-heading"> Android Development <span class="text-muted"> Real word application </span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
  </div>
</div>


<hr class="featurette-divider">

<div class="container-wrapper">
  <div class="container">
    <div class="row featurette">
      <div class="col-md-8">
        <h2 class="featurette-heading"> OpenCl & Research <span class="text-muted"> Advanced understanding of Computer Science </span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag "cl.png", id: "cl" %> 
      </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

