<!-- START THE FEATURETTES -->
<div class="container-wrapper">
  <div class="container">
    <div class="row featurette">

      <div class="col-md-4"> <%= image_tag "ror.png", id: "ror" %> </div>

      <div class="col-md-8">
        <h2 class="featurette-heading"> Ruby on Rails <span class="text-muted"> Well thought-out web development </span></h2>

        <h5>Upgrading RoR</h5>
        <div class="lead">
          <p>
            I am one of the few professionals know how to <strong>Upgrade complex RoR system.</strong>
            I managed to upgrade couple enterprise applications from Ruby 1.8 to Ruby 1.9, from Rails 3.0 to Rails 3.2.
          </p>
          <p>
            Testing is the key in the upgrading process, I have so many experiences with <strong>RSpec and Cucumber</strong>. 
            I am able to create specs to target the most complex scenarios
          </p>
        </div>

        <h5>Front-end Development</h5>
        <div class="lead">
          <p> CSS, SASS, Less I know them all </p>
          <p> Experienced in pure JavaScript, jQuery and AngularJS </p>
          <p> Understand Website Design </p>
          <p> Ability fo create <strong>Real Responsive</strong> site(Pad friendly, Phone friendly, IE 8 friendly. BTW: try this site, it is responsive as well) </p>
        </div>

        <h5>Warden Warrior</h5>
        <div class="lead">
          <p> The ability of design and create enterprise level authentication & authentication system </p>
          <p> The actual designer of complex system </p>
          <p> Know everything about Warden Gem </p>
        </div>
      </div>

    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container-wrapper bg-darker">
  <div class="container">
    <div class="row featurette">

      <div class="col-md-8">
        <h2 class="featurette-heading"> Android Development <span class="text-muted"> Real word application </span></h2>
        <p class="lead">
          When I was studying at Otago Uni. I was studying and coding on Android platform all the time.
        </p>
        <p class="lead">
          I created a very insteresting activity detection application with complex algorithms from scratch eg: 
          <strong>DB4, Haar Wavelet Transform</strong>, FFT Transform, 
          SVM Classifier and KNN Classifier.
        </p>
      </div>

      <div class="col-md-4"> </div>

    </div>
  </div>
</div>


<hr class="featurette-divider">

<div class="container-wrapper">
  <div class="container">
    <div class="row featurette">

      <div class="col-md-4"> <%= image_tag "cl.png", id: "cl" %> </div>

      <div class="col-md-8">
        <h2 class="featurette-heading"> OpenCl & Research <span class="text-muted"> Advanced understanding of Computer Science </span></h2>
        <p class="lead">
          When I was a Master student my research subject is about investigating the usability of OpenCL based Heterogeneous Computing 
          in the terms of Exact String Matching. 
          A very insteresting topic with a huge potential. 
          It requires a set of solid programming skills and understanding of <strong>Parallel computing</strong> and <strong>Concurrent programming.</strong>.
        </p>

        <p class="lead">
          By the end of th study, CLgrep is created. It can control 
          both CPU cores and GPU cores at the same time, 
          performs computationally intensive string matching concurrently. 
          By its highly optimised Horspool and QS algorithms 
          <strong>it can be 20 times faster</strong> than GNU grep in some cases.
        </p>

        <p class="lead">
          After my thesis was read by one of the research supervisor at MIMOS (Malaysia's national R&D centre), they offered me a research position. 
        </p>
      </div>

    </div>
  </div>
</div>

<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

