<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div id="about-me">
        <h2>About Me</h2>
        <p class="lead">My name is Jack Wu. I come from Beijing, China.</p>
        <p class="lead">
          I have been in New Zealand for 5 years.
          I did my Master's Degree (Information Science) at Otago Uni. Currently I am working for New Zealand stock exchange IT dpt as a program analyst.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div id="me"></div>
    </div>
  </div>
</div>
