<div class="container-wrapper bg-darker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Technical Skills</h2>
        <blockquote class="light-list">
          <p> <span class="fui-check-inverted"></span> Experience in C, OpenCL, Specialised in Parallel Computing, Concurrent Programming</p>
          <p> <span class="fui-check-inverted"></span> Experience in Software Testing (RSpec, Cucumber, JUnit)</p>
          <p> <span class="fui-check-inverted"></span> <strong>Master of Vim</strong>, not only use it but programm it as well <strong>eg:</strong> <%= link_to "Rails-API.vim", "https://github.com/xuwupeng2000/vim-rails-apidock" %></p>
          <p> <span class="fui-check-inverted"></span> </p>
          <p> <span class="fui-check-inverted"></span></p>
        </blockquote>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
