<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Self-description</h2>
      <blockquote>
        <p> <span class="fui-check-inverted"></span> A happy person , full of energy</p>
        <p> <span class="fui-check-inverted"></span> Team player, very good communication skill (I am not a native English speaker but I simply know how to present and understand others)</p>
        <p> <span class="fui-check-inverted"></span> Solid computer algorithm and mathematics background (no joking)</p>
        <p> <span class="fui-check-inverted"></span> Have a sense of humour </p>
        <p> <span class="fui-check-inverted"></span> Outstanding learning skills (When I was first arrived NZ I merely speak English 4 years later I have become a professional)</p>
      </blockquote>

      <h2>Technical Skills</h2>
      <blockquote>
        <p> <span class="fui-check-inverted"></span> Experience in Ruby, from Rake app to Rails development</p>
        <p> <span class="fui-check-inverted"></span> Experience in Java, from Jave Core,  Java EE to Android</p>
        <p> <span class="fui-check-inverted"></span> Experience in C, OpenCL, Specialised in Parallel Computing, Concurrent Programming</p>
        <p> <span class="fui-check-inverted"></span> Experience in SQL, RDBMS (Oracle, PostgreSQL, SQLite)</p>
        <p> <span class="fui-check-inverted"></span> Experience in Software Testing (RSpec, Cucumber, JUnit)</p>
        <p> <span class="fui-check-inverted"></span> Familiar with a collection of development utilities (Git, Git flow, Hub flow, Subversion, Eclipse)</p>
        <p> <span class="fui-check-inverted"></span> <strong>Master of Vim</strong>, not only use it but programm it as well <strong>eg:</strong> <%= link_to "Rails-API.vim", "https://github.com/xuwupeng2000/vim-rails-apidock" %></p>
        <p> <span class="fui-check-inverted"></span> Depth knowledge of Networking security, application security. Familiar with Rails application security analying</p>
        <p> <span class="fui-check-inverted"></span> Depth knowledge of Software Engineering, Agile methods, MVC, OOA, TDD</p>
      </blockquote>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
