@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Arimo);

.abstract {
  font-family: "Open Sans", sans-serif;

  .lead {
    font-size:16px;
  }

  h1, .h1 {
    font-size: 40px;
  }

  h2, .h2 {
    font-size: 30px;
  }

  h3, .h3 {
    font-size: 26px;
  }

  h4, .h4 {
    font-size: 22px;
  }

  h5, .h5 {
    font-size: 18px;
  }

  h6, .h6 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 1.72222;
    margin: 0 0 15px;
  }

  .navbar-inverse {
    background: none repeat scroll 0 0 rgba(33, 33, 36, 0.95);
  }

  .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: white;
    color: black;
    text-decoration: underline;
  }

  .features {
    h5 {
      text-align: right;
      padding-bottom:14px;
      border-bottom: 1px solid #e74c3c;
    }
  }

  section {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  .ruby-icon {
    ul li {
      background-image: url("ruby.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 30px;
      font-size:14px;
      line-height: 1.72222;
    }
  }

  .coffee-icon {
    ul li {
      background-image: url("coffee.png");
      background-position: 0 0;
      background-repeat: no-repeat;
      padding-left: 30px;
      font-size:14px;
      line-height: 1.72222;
    }
  
  }


  .ruby-layer {
    text-align: center;
    background-color:#c0392b;
    color:white;
    padding-bottom:20px;
    padding-bottom:20px;
  }

  #about-me {
    padding-top: 3%;
  }

  .img-cut {
    min-height:180px;
  }

  #scau {
    padding-top:10%;
  }

  #nzx {
    padding-top:10%;
  }

  .text-muted {
    color: #bdc3c7;
  }

  h1, h2, h3 {
    margin-bottom: 32px;
    margin-top: 30px;
  }
}

.abstract-footer {
  padding: 10px;
  background-image: url("island.png");
  color: white;
}
